.plot-container {
  display:flex;
  flex-wrap: wrap;
}

.plot-container .plot {
}

@media only screen and (max-width: 800px) {
  .plot {
    flex-basis:auto;
  }
}

h2 a {
  color:inherit;
}

.check.active {
  font-weight:bold;
}

hr.check_rule {
  background-color:hsl(0, 0%, 86%);
}

hr + br {
  display: none;
}
