@page {
  @top-left {
    /* logo */
    background: url(logo.svg) no-repeat center;
    background-size: 1in;
    width: 1.75in;
    height: auto;
    content: '';
    display: inline-block;
    float: left;
    margin-left: -0.6in;
  }
  @top-center {
    /* header line */
    background: black;
    content: '';
    height: 0.01in;
    opacity: 0.5;
    width: 7.4375in;
    margin-bottom: 0.25in;
    margin-left: 0in;
  }
  @bottom-right {
    /* page number */
    background: black;
    color: #ffffff;
    content: counter(page);
    height: 0.4in;
    text-align: center;
    width: 0.4in;
  }
  @bottom-center {
    content: none;
    color: black;
    opacity: 0.5;
    font-size: 6pt;
    text-align: left;
    margin-top: 0.25in;
    margin-left: -0.25in;
    margin-right: -0.25in;
  }
  size: Letter;
  margin-top: 1.5in;
  margin-left: 1in;
  margin-right: 1in;
  margin-bottom: 1in;

  @footnote {
    border-top: 2px solid black;
    float: bottom;
    padding-top: 0.5rem;
  }
}
@page cover {
  @top-left {
    /* fixup logo placement due to different margins on cover */
    margin-left: 0.4in;
  }
  @top-right { content: none }
  @bottom-left { content: none }
  @bottom-center { width: 100%; content: none }
  @bottom-right { content: none }
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

html {
  color: black;
  font-family: Arial;
  font-size: 10pt;
  font-weight: 300;
  line-height: 1.0;
  counter-reset: appendix;
  counter-reset: footnotecount;
}

strong {
  font-weight: bold;
}

body {
  margin: 0;
  counter-reset: figurecount;
}

#cover .title {
  page: cover;
  margin: 0.5in 1in 0in 1in;
}

article {
  break-before: always;
}
article.nobreak {
  break-before: avoid;
}

div.pagebreak {
  break-after: page;
}
div.columnbreak {
  break-after: column;
}

h1, h2 {
  color: black;
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h3, h4 {
  color: black;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
h1 {
  font-size: 30pt;
  string-set: heading content();
}
h2 {
  font-size: 20pt;
  string-set: heading content();
}
h3 {
  font-size: 16pt;
}
h4 {
  font-size: 11pt;
}
p {
  font-size: 10pt;
}

table:not(.highlighttable) {
  width: 100%;
  margin-bottom: 0.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}

table:not(.highlighttable) th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}
table.highlighttable th {
  border-collapse: inherit;
  border-spacing: inherit;
  border: inherit;
}

table:not(.highlighttable) td {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c0c0c0;
}
table.highlighttable td {
  border-collapse: inherit;
  border-spacing: inherit;
  border: inherit;
}

table:not(.highlighttable) td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: left;
  font-size: 9pt;
}
table.highlighttable td {
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  text-align: inherit;
  font-size: inherit;
}

table:not(.highlighttable) th {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  font-size: 9pt;
}
table.highlighttable th {
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  padding-right: inherit;
  text-align: inherit;
  font-size: inherit;
}

table:not(.highlighttable) td>p {
  font-size: 9pt;
}
table.highlighttable td>p {
  font-size: inherit;
}

table:not(.highlighttable) td>p:not(.caption) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
table.highlighttable td>p:not(.caption) {
  margin-top: inherit;
  margin-bottom: inherit;
}

table:not(.highlighttable) td>p:first-child {
  margin-top: 0;
}
table.highlighttable td>p:first-child {
  margin-top: inherit;
}
table:not(.highlighttable) td>p:last-child {
  margin-bottom: 0;
}
table.highlighttable td>p:last-child {
  margin-bottom: inherit;
}

table:not(.highlighttable) th>p {
  font-size: 9pt;
  margin: 0;
}
table.highlighttable th>p {
  font-size: inherit;
  margin: inherit;
}

table:not(.highlighttable) td>ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
table:not(.highlighttable) td>ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

table:not(.highlighttable) th {
  color: white;
  background-color: black;
  font-weight: bold;
}
table.highlighttable th {
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
}

table:not(.highlighttable) tr:nth-child(even) {
    background-color: #E7E9EB;
}
table.highlighttable tr:nth-child(even) {
    background-color: inherit;
}
table:not(.highlighttable) tr:nth-child(odd) {
    background-color: #ffffff;
}
table.highlighttable tr:nth-child(odd) {
    background-color: inherit;
}

table:not(.highlighttable) td {
  min-height: 1rem;
}
table.highlighttable td {
  min-height: inherit;
}

#cover {
  width: 100%;
  height: 100%;
}

#cover>div#title {

}
#cover>div#who {
  position: absolute;
  bottom: 0px;
  min-height: 3in;
  width: 100%;
}
#cover>div#who>.prefloat {
  min-height: 1in;
  width: 100%;
  bottom: 1in;
}

#cover>div#who>.who {
  background: black;
  color: white;
  white-space: pre-wrap;
  min-height: 2in;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

article.toc {
  counter-reset: htmltest;
}

ul.toc {
  padding-left: 0px;
  list-style-type: none;
}
ul.toc>ul {
  padding-left: 1rem;
  list-style-type: none;
}

ul.toc li {
  margin-top: 0.25rem;
}
ul.toc li::before {
  content: none;
}
a.toc {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  width: 100%;
}
div.toctext::before {
  content: "Default Value";
  content: target-text(attr(href));
}
div.toctext {
  display: flex;
}
div.tocpagenr {
  border-bottom: 1pt dotted black;
  flex-grow: 1;
}
div.tocpagenrval {
}
div.tocpagenrval::after {
  counter-increment: htmltest;
  content: counter(htmltest);
  content: target-counter(attr(href), page);
}

a.title {
  color: inherit;
  text-decoration-line: inherit;
}
a.title::before {
  color: inherit;
  content: target-text(attr(href));
}
a.title::after {
  color: inherit;
  content: target-counter(attr(href), page);
  float: right;
}

a.xref {
  color: inherit;
  text-decoration-line: inherit;
}
a.xrefn {
  color: inherit;
  text-decoration-line: inherit;
}
a.xrefn::before {
  color: inherit;
  content: target-text(attr(href));
}

a.xrefpg {
  color: inherit;
  text-decoration-line: inherit;
}
a.xrefpg::after {
  color: inherit;
  content: " on page " target-counter(attr(href), page);
}

article {
  height: 8.5in;
  width: 6.5in;
}

article:not(#cover) {
  display: flex;
  flex-direction: column;
}

article>div.article-body {
  width: 6.5in;
  flex: 1 1 auto;
}

article ul {
  list-style: none;
  padding-left: 0;
}

/*weasyprint currently gets this wrong: https://github.com/Kozea/WeasyPrint/issues/1557*/
article ol {
  /*list-style-position: outside;*/
  list-style-position: inside; /* need inside here or multiple digits shift left past the left margin */
  padding-left: 1rem;
  margin-left: -1rem;
}
/*
article ol li::before {
  content: "\00a0\00a0\00a0";
}*/
article ol>li:not(:has(p)) { /* bare lists elements that wrap*/
  text-indent: -1rem;
  padding-left: 1rem;
  margin-left: 0rem;
}
article ol>li:has(p) { /* lists that contain <p> */
  text-indent: -1rem;
  padding-left: 1rem
}
article ol>li>p {
  text-indent: 0rem;
  margin-left: 0rem;
  padding-left: 0.01rem;
}
article ol>li:has(p) div.highlight {
  text-indent: initial;
}

article ol>li>p:nth-of-type(1) {
  display: inline;
  margin-left: 0rem;
  padding-left: 0rem;
}
article ul>li>p:nth-of-type(1) {
  display: inline;
  margin-left: 0rem;
  padding-left: 0rem;
}

article ul>li {
  list-style-position: inside;
  text-indent: -1rem;
  padding-left: 1rem;
}

article .toc li {
  line-height: 1.5;
}

article ul.toc>li {
  text-indent: 0rem;
  padding-left: 0rem;
}

article ul>li::before {
  color: black;
  content: '• ';
  font-size: 10pt;
  padding-right: 0.35rem;
}

.columns section {
  columns: 2;
  column-gap: 1cm;
  padding-top: 0;
}
.columns section p {
  text-align: justify;
  word-break: break-word;
  word-spacing: -2px;
  hyphens: auto;
}

article figure {
  text-align: center;
}

article figure>figcaption::before {
  counter-increment: figurecount;
  content: "Figure " counter(figurecount) ": ";
}

article figure>img {
  width: 100%;
}

div .two-col-fig {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

div .two-col-fig>figure {
  width: 40%;
}

.footnotes {
  width: 6.5in;
  flex: 0 1in auto;
  min-height: 4rem;
}

.footnotes hr {
  border: 1px solid black;
}

.footnotes ol {
  padding-left: 0rem;
  margin-left: 1.5rem;
}

.footnotes ol li {
  line-height: 1.1;
  counter-increment: footnotecount list-item;
}
.footnotes ol li::before {
  content: none;
  line-height: 1.1;
}

.footnote-ref {
  text-decoration: none;
  color: inherit;
}
.footnote-back {
  text-decoration: none;
  color: inherit;
}

article.appendix>.article-body>h1:nth-of-type(1):before {
  content: "Appendix " counter(appendix, upper-alpha) ": ";
  counter-increment: appendix;
}

div.linenodiv>pre {
  line-height: 125%;
}

div.highlight>pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0rem;
}
table.highlighttable .code>div>pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0rem;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

div.highlight {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

span.footnote {
  float: footnote;
  width: 6.5in;
  padding-left: 0rem;
  margin-left: 1.5rem;
  text-indent: initial;
  margin-top: initial;
  text-indent: -1.11rem;
  padding-left: 1.11rem;
  counter-increment: footnotecount;
}

/*.footnote::footnote-call {*/ /*weasyprint doesn't match this*/
::footnote-call {
  /*display: none;*/ /*doesn't work, crashes*/
  content: "";
}

.footnote-ref>sup {
  font-size: 0.6rem;
  vertical-align: super;
}

.footnote::footnote-marker {
  content: counter(footnotecount) ".";
  /*color: red;*/ /*doesn't work in weasyprint*/
  display: inline-block;
  padding-right: 0.25rem;
  text-indent: initial;
  margin-top: initial;
}

.caption {
  margin-top: -0.5rem;
  text-align: center;
}

