# This workflow will install Python dependencies, check typing, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest mypy black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Validate formatting with black
      run: |
        black --check widget_state tests
    # - name: Validate types with mypy
    #   run: |
    #     mypy widget_state tests
    - name: Lint with flake8
      run: |
        flake8 --max-line-length 127 widget_state tests
    - name: Test with pytest
      run: |
        pytest
