[project]
name = "mcp-repl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "truskovskiyk", email = "truskovskiyk@gmail.com" }
]
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
