h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
}

li::marker, ul::marker {
    color: #000;
}

p {
    text-indent: 2em;
}
