[project]
name = "cprp"
version = "0.0.3"
authors = [
  { name="An Jie Lee", email="anjie.wav@gmail.com" },
]
description = "A command-line tool designed to help users easily convert a directory into an LLM-friendly format directly to your clipboard."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
license = { file = "LICENSE" }
dependencies=[
    'pyperclip==1.9.0',
    'pathspec==0.12.1',
    'typer==0.15.2'
]

[project.scripts]
cprp = "cprp.cli:app"

[tool.setuptools]
include-package-data = true

[tool.setuptools.package-data]
cprp = ["utils/default.gitignore"]

[project.urls]
Homepage = "https://github.com/danleeaj/cprp"
Issues = "https://github.com/danleeaj/cprp/issues"