[tool.poetry]
name = "chaokai"
version = "0.0.5"
description = ""

authors = []
readme = "README.md"



[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.32.3"
pycryptodome = "^3.21.0"


[tool.poetry.group.dev.dependencies]
pytest = "^8.3.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
