@page {
  @top-left {
    background-size: 1in;
    width: 1.75in;
    height: auto;
  }

  @bottom-right {
    background: black;
    color: #ffffff;
  }
  @bottom-center {
    content: "© <year> Example Corp.";
  }
  @footnote {
    border-top: 2px solid black;
    float: bottom;
  }
}

@page cover {
  @top-left {
    background-size: 1in;
    width: 1.75in;
    height: auto;
  }
}

html {
  color: black;
  font-family: Arial;
  line-height: 1.25;
}

table:not(.highlighttable) {
  border: 1px solid #c0c0c0;
}

table:not(.highlighttable) th {
  border: 1px solid #c0c0c0;
}
table.highlighttable th {
  border: inherit;
}

table:not(.highlighttable) td {
  border: 1px solid #c0c0c0;
}
table.highlighttable td {
  border: inherit;
}

table:not(.highlighttable) th {
  color: white;
  background-color: black;
  font-weight: bold;
}
table.highlighttable th {
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
}

table:not(.highlighttable)>tbody>tr:nth-child(even) {
    background-color: #E7E9EB;
}
table:not(.highlighttable)>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
  min-height: 1rem;
}

#cover .title h3 {
  font-weight: normal;
}


#cover>div#who>.who {
  background: black;
  color: white;
}

sup {
  vertical-align: top;
}

article ul li::before {
  color: #dad4e0;
}

.footnotes hr {
  border: 1px solid black;
}

table.highlighttable th.filename {
  border-bottom: 1px solid #c0c0c0;
}
table.highlighttable td.code {
  width: 100%;
}

table.composite-head {
  margin-bottom: 0;
}
table.composite-head, table.composite-head th, table.composite-head td {
  border-bottom: 0px;
}
table.composite-body>tbody>tr:nth-child(even) {
  background-color: white;
}
